{% extends "layout.html" %}

{% block htmlAttributes %}class="h-100 mh-100"{% endblock %}
{% block bodyAttributes %}class="h-100 mh-100"{% endblock %}
{% block headTitle %}{{ title }}{% endblock %}
{% block headDescription %}{{ metaDescription }}{% endblock %}
{% block underNavHeader %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row p-1 px-2">
        <h2>Создай свой сайт</h2>

        <div class="p-1">
            <p>
                Многие хотят создать свой персональный сайт, но не замечают, как проходят годы, а дело так и не сдвигается с мертвой точки.
                Некоторые люди не знают как это работает и с чего начать, некоторые знают о сайтах слишком много
                и это знание строит воображаемые преграды на пути.
            </p>
            <p class="lead" id="website-todo-list">
                Нужно отключить прокрастинацию и проследовать простой <em>инструкции</em>, чтобы наконец <strong>запустить свой сайт</strong>:
            </p>
            <ul>
                <li>Зарегистрировать хостинг</li>
                <li>Купить домен</li>
                <li>Выбрать cms</li>
                <li>Готово</li>
            </ul>
            А можно и сократить до одного пункта, чтобы оставить задел для сайта на будущее:
            <ul>
                <li>Купить домен</li>
            </ul>
        </div>
        <div class="col-12 p-1 border border-light">
            <p>
                Лично я пользуюсь хостингом и регистратором beget
                для своего сайта <a class="text-muted" href="/profile/54196">borisd.ru</a>
                и регистрации доменов.
                <br>
                <em class="text-muted">Потому что когда-то они продавали домены очень дешево, а сейчас и вовсе раздают бесплатно при регистрации с одним из тарифов</em>
                <br><br>
                В случае с этим регистратором:
            </p>
            <p>
                Просто <a href="https://www.beget.com/ru/domain-register">купить домен</a> или
            </p>
            <p>
                Завести полноценный сайт:
            </p>
            <ul>
                <li>
                    <a href="https://www.beget.com/ru/virtual-hosting">Выбираем подходящий тариф</a>
                    <ul>
                        <li>Обращаем внимание на бонусы типа бесплатного домена</li>
                    </ul>
                </li>
                <li>Заказываем</li>
                <li>Попадаем в админку и переходим в "Управление доменами"/Зарегистрировать домен</li>
                <li>Выбираем что-нибудь вроде <em>borisd.ru</em></li>
                <li>Регистрируем</li>
                <li>Идем в "Управление сайтами"</li>
                <li>"Создаем" сайт соответствующий домену</li>
                <li>Идем в список "CMS"</li>
                <li>Выбираем, к примеру, wordpress</li>
                <li>Устанавливаем</li>
                <li>Готово</li>
            </ul>
        </div>
        <div class="p-1">
            <p>
                Не забываем добавить свой сайт в hpdb.ru и собирать лайки и просмотры :)
            </p>
        </div>
        <div class="p-1">
            <h2>Зачем мне сайт</h2>

            <p>
                На сайте, помимо блога, которые перетекли в соцсети, можно:
            </p>
            <ul>
                <li>Завести почту вида <em>имя@фамилия.me</em></li>
                <li>Разместить резюме (cv)</li>
                <li>
                    Разместить портфолио
                    <ul>
                        <li>Написанные книги/статьи</li>
                        <li>Технические поделки (свой неповторимый онлайн-калькулятор)</li>
                    </ul>
                </li>
                <li>Продемонстрировать дизайнерские навыки, необычно сверстав сайт (но сначала его нужно хотя бы <a href="#website-todo-list">поднять</a>)</li>
                <li>Зарабатывать, сколотив свою аудиторию</li>
            </ul>
            <p>
                Ну и, в целом, на всякий случай нужен хотя бы именной <a href="https://www.beget.com/ru/domain-register">домен</a>.
            </p>
        </div>
        <div class="col-12 p-1">
            <a href="#website-todo-list" class="btn btn-info">Еще раз инструкция</a>
        </div>
    </div>
</div>
{% endblock %}