{% extends "layout.html" %}

{% block body %}
<div class="main-container container-fluid">
    <h1>Поиск креативности</h1>
    <div class="row">
        <div class="col col-12 col-lg-4">
            <div class="row pl-3 text-muted">
                <p>
                    Социальная сеть из малоизвестных
                    <mark>шедевров</mark>
                    - персональных "домашних страниц".
                </p>
                <div><em>Все сайты открываются внутри этого, а не в новом окне</em></div>
            </div>
        </div>
        <div class="col col-12 col-lg-4">
            <div class="row mt-2">
            </div>
            <div class='horizontal-scroller'>
                <div class="slider">
                    <div class="inner-box">
                        <div class="website-group-list item-box">
                            <div class="website-group-link-li">
                                <a href="#new" class="btn link-group link-group btn-outline-dark csv-repo-link active"
                                   title="New"
                                   data-slug="" data-limit="5">
                                    <span></span><i class="emoji fire small"></i>
                                    Новое
                                </a>
                            </div>
                            {% for websiteGroup in websiteGroups %}
                            <div role="presentation" class="website-group-link-li">
                                <a href="#{{ websiteGroup.slug }}" class="btn link-group btn-outline-dark csv-repo-link"
                                   title="{{websiteGroup.name}}" data-slug="{{websiteGroup._id}}">
                                    <img src="{{websiteGroup.logo}}"/>
                                    {{websiteGroup.name|length > 35 ? websiteGroup.name|slice(start, 35) ~ '...' :
                                    websiteGroup.name}}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class='vertical-mid-hack'></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="top-group-container-wrapper">
                    <p><strong class="website-group-title">Новое:</strong></p>
                    <div class="d-flex flex-column border group-container">
                        {% for newWebsite in newWebsites %}
                        <div class="p-2 border border-light bg-white top-group-website">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <a href="/profile/{{ newWebsite.profile_id }}">{{ newWebsite.homepage }}</a>
                                    </div>
                                    <div>
                                        <span class="text-muted small">{{ newWebsite.title }}</span>
                                    </div>
                                </div>
                                <div class="col text-right">
                                    {% for reaction, count in newWebsite.reactions %}
                                    <button type="button" class="my-1 btn btn-light reaction"
                                            data-reaction="{{ reaction }}"
                                            data-profile="{{ newWebsite.profile_id }}">
                                        <span class="count">{{ count }}</span><i class="emoji {{ reaction }} small"></i>
                                    </button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-lg-4">
            <div class="row p-3 text-muted">
                <p>
                    Существует множество подобных сайтов, на которых можно увидеть вдохновляющий креатив человека, будь
                    то
                    дизайнерские приемы или околонаучные исследования, профессиональный опыт или просто интересный блог.
                </p>
                <p>
                    Некоторые из них попадают в поле зрения широкой общественности, но многие так и остаются скрытыми
                    от глаз. Так не может больше продолжаться.
                </p>
                <p>
                    Найдем их.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-md-12 px-3 py-1"></div>
        <div class="col col-lg-4 col-md-12">
            <div class="row mt-2">
                <div class="col">
                    <p><strong>Лента:</strong></p>
                    <div class="py-2">
                        <a href="#feed-ru" class="btn btn-outline-dark link-feed active"
                           title="На русском"
                           data-slug="ru" data-limit="10">
                            🇷🇺
                        </a>
                        <a href="#feed-en" class="btn btn-outline-dark link-feed"
                           title="In english"
                           data-slug="en" data-limit="10">
                            🇬🇧 / 🇺🇸
                        </a>
                        <a href="#feed-cn" class="btn btn-outline-dark link-feed"
                           title="In chinese"
                           data-slug="zh" data-limit="10">
                            🇨🇳
                        </a>
                        <a href="#feed-fr" class="btn btn-outline-dark link-feed"
                           title="In french"
                           data-slug="fr" data-limit="10">
                            🇫🇷
                        </a>
                        <a href="#feed-de" class="btn btn-outline-dark link-feed"
                           title="In deutsch"
                           data-slug="de" data-limit="10">
                            🇩🇪
                        </a>
                    </div>
                    <div class="feed-container item-box">
                        {% for feedItem in webFeed %}
                        <div class="p-2 border border-light bg-white feed-item">
                            <div class="row">
                                <div class="col col-9">
                                    <div class="embed-responsive">
                                        <a href="{{ feedItem.link }}" class="text-dark">{{ feedItem.title }}</a>
                                    </div>
                                    <div class="embed-responsive">
                                        <span class="text-muted small">{{ feedItem.description }}</span>
                                    </div>
                                    <div class="text-muted small"><a href="/profile/{{ feedItem.website_id }}">{{
                                        feedItem.host }}</a></div>
                                </div>
                                <div class="col col-3 text-right align-text-bottom">
                                    <div class="text-muted small">{{ feedItem.date }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <p><strong>Рейтинг:</strong></p>
                    {% for reaction in reactions %}
                    <div class="p-2 border border-light bg-white">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <a href="/profile/{{ reaction.profile_id }}">{{ reaction.homepage }}</a>
                                </div>
                                <div>
                                    <span class="text-muted small">{{ reaction.title }}</span>
                                </div>
                            </div>
                            <div class="col text-right">
                                <button type="button" class="btn btn-light reaction" data-reaction="{{ reaction.reaction }}" data-profile="{{ reaction.profile_id }}">
                                    <span class="count">{{ reaction.count }}</span><i class="emoji {{ reaction.reaction }} small"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col" id="all-profile-content" data-latest-id="000000000000000000000000">
                    <p><strong>Весь список:</strong></p>
                </div>
                <div class="container text-center" id="page-loading">
                    <div class="p-2 border border-light bg-white flex">
                        Loading...
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-12"></div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block scriptsEnd %}
<script src="/js/infinite-scroll.js?v=20200503_1"></script>
{% endblock %}
