{% extends "layout.html" %}

{% block htmlAttributes %}class="h-100 mh-100"{% endblock %}
{% block bodyAttributes %}class="h-100 mh-100"{% endblock %}
{% block headTitle %}{{ title }} - интересный сайт в коллекции{% endblock %}
{% block headDescription %}{{ metaDescription }}подробности о сайте, похожие сайты, рейтинг домашней страницы{% endblock %}
{% block underNavHeader %}
<div class="card text-center">
    <div class="card-header">
        Домашняя страница
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <a class="card-domain"><a href="{{ sourceUrl }}">{{ host }}</a></a>
        <p class="card-text">{{ description }}</p>
    </div>
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-outline-info reaction" data-reaction="nohp" data-profile="{{ profile_id }}"
                title="Not a homepage">
            <span class="count">{% if reactions_nohp %}{{ reactions_nohp }}&nbsp;{% endif %}</span><i
                class="emoji nohp small"></i>
        </button>
        <button type="button" class="btn btn-outline-info reaction" data-reaction="dislike"
                data-profile="{{ profile_id }}">
            <span class="count">{% if reactions_dislike %}{{ reactions_dislike }}&nbsp;{% endif %}</span><i
                class="emoji dislike small"></i>
        </button>
        <button type="button" class="btn btn-outline-info reaction" data-reaction="like"
                data-profile="{{ profile_id }}">
            <span class="count">{% if reactions_like %}{{ reactions_like }}&nbsp;{% endif %}</span><i
                class="emoji like small"></i>
        </button>
    </div>
</div>
{% endblock %}
{% block body %}
<iframe id="site-container" class="mh-100" src="{{ url }}"></iframe>
{% endblock %}
