[Unit]
Description="Hpdb text processors daemon"
After=network.target

[Service]
User=user
Group=group
ExecStart=docker exec -it hpdb-php-api php daemons/processors.php group1
StandardOutput=rsyslog
StandardError=rsyslog
