{% extends "layout.html" %}

{% block body %}
<div class="main-container container-fluid">
    <h1>Поиск креативности</h1>
    <div class="row">
        <div class="col">
            <p>
                Социальная сеть из малоизвестных <mark>шедевров</mark> - персональных "домашних страниц".
            </p>
            <p>
                Существует множество подобных сайтов, на которых можно увидеть вдохновляющий креатив человека, будь то
                дизайнерские приемы или околонаучные исследования, профессиональный опыт или просто интересный блог.
            </p>
            <p>
                Некоторые из них попадают в поле зрения широкой общественности, но многие так и остаются скрытыми
                от глаз. Так не может больше продолжаться.
            </p>
            <p>
                Найдем их.
            </p>
            <br>
            <br>
            <br>
            <p><em>Все сайты открываются внутри этого, а не в новом окне</em></p>
        </div>
        <div class="col">
            <p><strong>Избранное редактора:</strong></p>
            <ul>
                <li data-tags="blog phd cs">
                    <a href="/profile/54182">Tom Murphy (tom7.org)</a>
                </li>
                <li>
                    <a href="/profile/54178">Dmitri Shuralyov</a>
                </li>
                <li data-tags="home-page cs">
                    <a href="/profile/54163">Андрей Созыкин</a>
                </li>
                <li data-tags="home-page web architecture">
                    <a href="/profile/54164">Евгений Степанищев</a>
                </li>
                <li data-tags="home-page patterns architecture">
                    <a href="/profile/54165">Martin Fowler</a>
                </li>
                <li data-tags="cs home-page blog caltech">
                    <a href="/profile/54166">Bret Victor</a>
                </li>
                <li data-tags="c python blog">
                    <a href="/profile/54167">Drew DeVault</a>
                </li>
                <li>
                    <a href="/profile/54183">Jeff Atwood</a>
                </li>
                <li data-tags="blog">
                    <a href="/profile/54184">Joel Spolsky</a>
                </li>
                <li data-tags="architecture">
                    <a href="/profile/54168">Giorgio Sironi</a>
                </li>
                <li data-tags="php ddd">
                    <a href="/profile/54169">Konstantin Kudryashov</a>
                </li>
                <li data-tags="php ddd">
                    <a href="/profile/54170">Mathias Verraes</a>
                </li>
                <li data-tags="php web">
                    <a href="/profile/54171">Juan Treminio</a>
                </li>
                <li data-tags="php core c">
                    <a href="/profile/54172">Joe Watkins</a>
                </li>
                <li data-tags="php go">
                    <a href="/profile/54173">Christoph Hochstrasser</a>
                </li>
                <li data-tags="php senior">
                    <a href="/profile/54174">Carsten Brandt</a>
                </li>
                <li>
                    <a href="/profile/54175">Leon Bambrick</a>
                </li>
                <li>
                    <a href="/profile/54176">Merkushin Dmitry</a>
                </li>
                <li>
                    <a href="/profile/54177">Travis Neilson</a>
                </li>
                <li>
                    <a href="/profile/54179">Joel Galenson</a>
                </li>
                <li>
                    <a href="/profile/54180">Sang Won Lee</a>
                </li>
                <li>
                    <a href="/profile/54181">Никлаус Вирт</a>
                </li>
                <li>
                    <a href="/profile/54186">Tom Preston-Werner</a>
                </li>
                <li>
                    <a href="/profile/54185">Jdevelop (Eugene Dzhurinsky?)</a>
                </li>
                <li>
                    <a href="/profile/54187">Григорий Добряков</a>
                </li>
                <li>
                    <a href="/profile/54188">Ryan Boren</a>
                </li>
                <li>
                    <a href="/profile/54190">Rich Adams</a>
                </li>
                <li>
                    <a href="/profile/54189">Thomas Rabaix</a>
                </li>
                <li>
                    <a href="/profile/54191">Elnur Abdurrakhimov</a>
                </li>
                <li>
                    <a href="/profile/54192">Anna Filina</a>
                </li>
                <li>
                    <a href="/profile/54193">Глеб Радченко</a>
                </li>
                <li>
                    <a href="/profile/54194">Quassnoi</a>
                </li>
                <li>
                    <a href="/profile/54195">Елена Торшина</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}