{% extends "layout.html" %}

{% block body %}
<div class="main-container container-fluid">
    <h1>Поиск креативности</h1>
    <div class="row">
        <div class="col col-lg-4 col-md-12 p-3">
            <div class="row pl-3">
                <p>
                    Социальная сеть из малоизвестных <mark>шедевров</mark> - персональных "домашних страниц".
                </p>
                <p><em>Все сайты открываются внутри этого, а не в новом окне</em></p>
            </div>
        </div>
        <div class="col col-lg-4 col-md-12">
            <div class="row">
                <div class="col">
                    <p><strong>Новое:</strong></p>
                    <div class="d-flex flex-column border">
                        {% for newWebsite in newWebsites %}
                        <div class="p-2 border border-light bg-white">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <a href="/profile/{{ newWebsite.profile_id }}">{{ newWebsite.homepage }}</a>
                                    </div>
                                    <div>
                                        <span class="text-muted small">{{ newWebsite.title }}</span>
                                    </div>
                                </div>
                                <div class="col text-right">
                                    {% for reaction in newWebsite.reactions %}
                                    <button type="button" class="my-1 btn btn-light reaction" data-reaction="{{ reaction._id.reaction }}" data-profile="{{ newWebsite.profile_id }}">
                                        <span class="count">{{ reaction.count }}</span><i class="emoji {{ reaction._id.reaction }} small"></i>
                                    </button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <p><strong>Рейтинг:</strong></p>
                    {% for reaction in reactions %}
                    <div class="p-2 border border-light bg-white">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <a href="/profile/{{ reaction.profile_id }}">{{ reaction.homepage }}</a>
                                </div>
                                <div>
                                    <span class="text-muted small">{{ reaction.title }}</span>
                                </div>
                            </div>
                            <div class="col text-right">
                                <button type="button" class="btn btn-light reaction" data-reaction="{{ reaction.reaction }}" data-profile="{{ reaction.profile_id }}">
                                    <span class="count">{{ reaction.count }}</span><i class="emoji {{ reaction.reaction }} small"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-12">
            <div class="row p-3">
                <p>
                    Существует множество подобных сайтов, на которых можно увидеть вдохновляющий креатив человека, будь то
                    дизайнерские приемы или околонаучные исследования, профессиональный опыт или просто интересный блог.
                </p>
                <p>
                    Некоторые из них попадают в поле зрения широкой общественности, но многие так и остаются скрытыми
                    от глаз. Так не может больше продолжаться.
                </p>
                <p>
                    Найдем их.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}