{% extends "layout.html" %}

{% block body %}
<div class="main-container">
    <h4>Поиск креативности</h4>
    <ul>
        <li data-tags="home-page cs">
            <a href="https://www.asozykin.ru/">Андрей Созыкин</a>
        </li>
        <li data-tags="home-page web architecture">
            <a href="http://bolknote.ru/">Евгений Степанищев</a>
        </li>
        <li data-tags="home-page patterns architecture">
            <a href="https://martinfowler.com/">Martin Fowler</a>
        </li>
        <li data-tags="cs home-page blog caltech">
            <a href="http://worrydream.com">Bret Victor</a>
        </li>
        <li data-tags="c python blog">
            <a href="http://drewdevault.com/">Drew DeVault</a>
        </li>
        <li data-tags="architecture">
            <a href="http://www.giorgiosironi.com/">Giorgio Sironi</a>
        </li>
        <li data-tags="php ddd">
            <a href="http://stakeholderwhisperer.com/">Konstantin Kudryashov</a>
        </li>
        <li data-tags="php ddd">
            <a href="http://verraes.net/">Mathias Verraes</a>
        </li>
        <li data-tags="php web">
            <a href="https://jtreminio.com/">Juan Treminio</a>
        </li>
        <li data-tags="php core c">
            <a href="http://blog.krakjoe.ninja/">Joe Watkins</a>
        </li>
        <li data-tags="php go">
            <a href="https://www.christophh.net/">Christoph Hochstrasser</a>
        </li>
        <li data-tags="php senior">
            <a href="http://cebe.cc">Carsten Brandt</a>
        </li>
        <li>
            <a href="http://secretgeek.net/">Leon Bambrick</a>
        </li>
        <li>
            <a href="http://www.merkushin.com">Merkushin Dmitry</a>
        </li>
        <li>
            <a href="http://travisneilson.com">Travis Neilson</a>
        </li>
        <li>
            <a href="https://dmitri.shuralyov.com">Dmitri Shuralyov</a>
        </li>
        <li>
            <a href="https://jgalenson.github.io">Joel Galenson</a>
        </li>
        <li>
            <a href="http://web.eecs.umich.edu/~snaglee/">Sang Won Lee</a>
        </li>
        <li>
            <a href="https://www.inf.ethz.ch/personal/wirth/">Никлаус Вирт</a>
        </li>
        <li data-tags="blog phd cs">
            <a href="http://tom7.org">Tom Murphy</a>
        </li>
        <li>
            <a href="http://blog.codinghorror.com">Jeff Atwood</a>
        </li>
        <li data-tags="blog">
            <a href="http://www.joelonsoftware.com">Joel Spolsky</a>
        </li>
        <li>
            <a href="http://tom.preston-werner.com">Tom Preston-Werner</a>
        </li>
        <li>
            <a href="http://blog.jdevelop.com">Jdevelop (Eugene Dzhurinsky?)</a>
        </li>
        <li>
            <a href="http://dobryakov.com">Григорий Добряков</a>
        </li>
        <li>
            <a href="https://ryan.boren.me">Ryan Boren</a>
        </li>
        <li>
            <a href="https://richadams.me">Rich Adams</a>
        </li>
        <li>
            <a href="https://thomas.rabaix.net">Thomas Rabaix</a>
        </li>
        <li>
            <a href="http://elnur.pro">Elnur Abdurrakhimov</a>
        </li>
        <li>
            <a href="http://afilina.com">Anna Filina</a>
        </li>
        <li>
            <a href="http://glebradchenko.ru">Глеб Радченко</a>
        </li>
        <li>
            <a href="http://explainextended.com/">Quassnoi</a>
        </li>
        <li>
            <a href="http://torshina.me">Елена Торшина</a>
        </li>

    </ul>
</div>
{% endblock %}