{% extends "layout.html" %}

{% block headTitle %}{{ title }} - интересный сайт в коллекции{% endblock %}
{% block headDescription %}{{ metaDescription }}подробности о сайте, похожие сайты, рейтинг домашней страницы{% endblock %}
{% block underNavHeader %}
<div class="card text-center">
    <div class="card-header">
        Домашняя страница
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-domain">{{ sourceUrl }}</p>
        <p class="card-text">{{ description }}</p>
    </div>
    <div class="card-footer text-muted">
        <a href="#" class="btn btn-outline-info reaction" data-reaction="nohp">Не домашняя страница</a>
        <a href="#" class="btn btn-outline-info reaction" data-reaction="dislike"><i class="emoji thumb-down"></i></a>
        <a href="#" class="btn btn-outline-info reaction" data-reaction="like"><i class="emoji like"></i></a>
    </div>
</div>
{% endblock %}
{% block body %}
<iframe id="site-container" src="{{ url }}"></iframe>
{% endblock %}